# Ignore EVERYTHING
*

# Except the following
!Dockerfile
!requirements.txt
!train.py
!config.py
!data.py
!loss.py
!model.py
!trainer.py
!record.py
!utils.py
!preprocess.py
!uit-vsfc/
!vncorenlp/
!multisentiment-uit-vsfc/